/**************************************************************
 *                      	COMUNES
 **************************************************************/

 /*           <p contenteditable="true">This is an editable paragraph.</p>  */


/***************************
****************************
		COLUMNAS
****************************
***************************/  

.columns {

	/*
	margin: 20px auto;
	width: 90%;
	justify-content: space-around;
	*/
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	justify-content: space-between;
	align-items: flex-start;
  }
 

  .columns div.twocolumns {
	width: 50%;
  }

  .columns div.threecolumns  {
	width: 33%;
  }

  .columns div.fourcolumns  {
	width: 25%;
  }


/***************************
****************************
		TABLAS
****************************
***************************/  

/* Una tabla que tiene 3 columnas, y las laterales están alineadas con la central verticalmente. */
table.flankedtable td, table.flankedtableth {
	padding: 0 5px;
}

table.flankedtable th:nth-child(1),table.flankedtable td:nth-child(1) {
	text-align: right;
}

table.flankedtable td:nth-child(2),table.flankedtable td:nth-child(2) {
	text-align: center;
}

table.flankedtable td:nth-child(3),table.flankedtable td:nth-child(3) {
	text-align: left;
}

/***************************
****************************
	RATIO CONTAINER
****************************
***************************/  
/* http://www.mademyday.de/css-height-equals-width-with-pure-css.html */

  .square {
    position: relative;
    width: 100%;
    /* desired width */
  }

  .square:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/
  }

  .square div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }




/***************************
****************************
		license
****************************
***************************/  
.license {
	height: 25px;

	font-size: 75%;
	
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;

}
header .license {
	border-bottom: 1px dotted blueviolet;
}
footer .license {
	border-top: 1px dotted blueviolet;
}

.license a {
	text-decoration: none;
	font-style: italic;
}
.license img {
	color: black;
	height: 15px;
}


footer.attached {
	position: fixed;
	z-index: 1;
	bottom: 0;

	left: 0;
	width: 100vw;
}
header.attached {
	position: fixed;
	z-index: 1;
	top: 0;

	left: 0;
	width: 100vw;
}


/***************************
****************************
		selections
****************************
***************************/  
aside.attachedleft {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;

  }



/***************************
****************************
			TABS
****************************
***************************/  
      /* You needA flex container can't be set a none display, wrap it with a div tab */

      /* A flex container can't be set a none display, wrap it with a div tab */
      .tabselection.option1>:not(:nth-child(1)) {
        display: none;
      }

      .tabselection.option2>:not(:nth-child(2)) {
        display: none;
      }

      .tabselection.option3>:not(:nth-child(3)) {
        display: none;
      }

      /* .... */

      .radiogroup input[type="radio"] {
        display: none;
      }

      /* render shadows for any label associated with a non-checked radio input  */
      .radiogroup input[type="radio"]:not(:checked)+label {
        -webkit-box-shadow: inset 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: inset 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      }

      .radiogroup input[type="radio"]:not(:checked)+label:hover {
        filter: brightness(1.25);
        cursor: pointer;
	  }
	  
/***************************
****************************
			MISC
****************************
***************************/  
  .dot {
	height: 20px;
	width: 20px;
	border-radius: 50%;

	background-color: #4d2626;

	margin: 15px;
  }

  .dot:hover {
	background-color: red;
  }




/***************************
****************************
		Tree
****************************
***************************/  

/*
 Tree structure using CSS:
 http://stackoverflow.com/questions/14922247/how-to-get-a-tree-in-html-using-pure-css
 http://dabblet.com/gist/6878696
*/
/* properties of font: style | variant | font size/line-height | family */
.tree {
	
	font: normal normal 28px/40px Helvetica, Arial, sans-serif;  
	list-style-type: none; 
} 
.tree ul{
	
	margin-left: 0 0 0 1em;
	padding: 0;
	position: relative;   
	overflow:hidden;    
  }
  
  .tree li{
	margin: 0;
	padding: 0 1.2em;  
	position: relative;   
  }
	
  .tree li::before, .tree li::after{
	content: '';
	position: absolute;
	left: 0;
  }
  
  /* horizontal line on inner list items */
  .tree li::before{
	border-top: 1px solid #999;
	top: 1em;
	width: 1em;
	height: 0;    
  }
  
  /* vertical line on list items */   
  .tree li:after{
	border-left: 1px solid #999;
	height: 100%;
	width: 0px;
	top: -1em; 
  }
  
  /* lower line on list items from the first level because they don't have parents */
  .tree > li::after{
	top: 1em;
  }
  
  /* hide line from the last of the first level list items */
  .tree > li:last-child::after{
	display: none;
  }
    
  .tree ul:last-child li:last-child:after{
  	height:2em;
  }



/***************************
****************************
			AJENOS
****************************
***************************/  


/* https://stackoverflow.com/questions/7415872/change-color-of-png-image-via-css */
/*Filter styles*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.opacity { filter: opacity(50%); }